.blogDescription {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.blogDescriptionImagePosition {
    width: 700px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2.5%;
}

.blogDescriptionDate {
    font-size: 12px;
    margin-left: 2.5%;
}

.swiper-box {
    position: relative;
}

.swiper-nav-prev {
    left: -50px !important;
}

.swiper-nav-next {
    right: -50px !important;
}