.career-body {
    width: 100%;
}

.background-section {
    background-image: url('../images/career/business-suit-690048_1920.jpg-min.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    position: relative;
    min-height: 500px;
}

.background-banner-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-wrap: nowrap;
    color: white;
    font-family: Brush Script MT;
    font-size: 150px;
    text-align: center;
    text-shadow: 2px 2px black;
}

/*This is our team section*/
.our-team {
    background-color: #F0F8FF;
}

.our-team-header-container {
    padding: 20px;
    text-transform: uppercase;
}


/*Our team slider*/
.testimonial {
    background: #fff;
    text-align: center;
    padding: 30px 30px 70px;
    margin: 0 15px 110px;
    position: relative;
    margin-top: 20px;
}

    .testimonial:before,
    .testimonial:after {
        content: "";
        border-top: 40px solid #fff;
        border-right: 125px solid transparent;
        position: absolute;
        bottom: -40px;
        left: 0;
    }

    .testimonial:after {
        border-right: none;
        border-left: 125px solid transparent;
        left: auto;
        right: 0;
    }

    .testimonial .icon {
        display: inline-block;
        font-size: 80px;
        color: #bd986b;
        margin-bottom: 30px;
        opacity: 0.6;
    }

    .testimonial .description {
        font-size: 16px;
        color: #777;
        text-align: justify;
        margin-bottom: 30px;
        opacity: 0.9;
        letter-spacing: -1px;
    }

    .testimonial .testimonial-content {
        width: 100%;
        position: absolute;
        left: 0;
    }

    .testimonial .pic {
        display: inline-block;
        border: 6px solid white;
        border-radius: 50%;
        box-shadow: 0 0 2px 2px #daad86;
        overflow: hidden;
        z-index: 1;
        position: relative;
    }

        .testimonial .pic img {
            width: 100%;
            height: auto;
        }

    .testimonial .title {
        font-size: 20px;
        font-weight: bold;
        color: orange;
        text-transform: capitalize;
        margin: 0 0 5px 0;
    }

    .testimonial .post {
        display: block;
        font-size: 18px;
        color: black;
    }

.owl-theme .owl-controls {
    margin-top: 60px;
    margin-bottom: 20px;
}

    .owl-theme .owl-controls .owl-page span {
        width: 32px;
        height: 10px;
        background: #fff;
        border: 2px solid #bd986b;
        margin: 20px;
        opacity: 1;
    }

    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
        background: #ffd9b8;
        border-color: #fff;
    }

.pic img {
    width: 100px !important;
    height: 50px;
}

/*This is application form section*/
.application-container {
    background-image: url('../images/career/startup-594091_1920-min.jpg');
}

    .application-container .ui {
        background-color: #333;
        padding: 0 30px;
        border: 5px solid #92DAE9;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        opacity: 0.9;
    }

        .application-container .ui h2 {
            text-align: center;
            color: white;
            font-family: Corbel,AdobeInvisFont,MyriadPro-Regular;
            margin-top: 24px;
            font-size: 30px;
        }

        .application-container .ui p {
            text-align: center;
            color: white;
            font-family: Corbel,AdobeInvisFont,MyriadPro-Regular;
            font-size: 20px;
        }

        .application-container .ui label {
            color: white;
            font-family: Corbel,AdobeInvisFont,MyriadPro-Regular;
            font-size: 20px;
        }

.ui .radio-container #employed #unemployed #self #stud {
    margin: 0 20px;
}

.application-container .ui #txtFullName, #txtEmail, #txtPosition {
    background-color: #63666A;
    color: white;
}


.application-container .ui #upload {
    padding: 10px;
    color: black;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

    .application-container .ui #upload:hover {
        background-color: #00b28f;
    }

.application-container .ui #upload-text {
    margin-left: 10px;
    font-family: Corbel,AdobeInvisFont,MyriadPro-Regular;
    font-size: 20px;
    color: white;
}

#upload {
    padding: 10px;
    color: black;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

    #upload:hover {
        background-color: #00b28f;
    }

#upload-text {
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.ui #btnSubmit {
    margin-bottom: 20px;
}



@media screen and (max-width: 600px) {
    .ui {
        padding: 0 30px;
        /* margin-bottom:20px;*/
    }

    #btnSubmit {
        margin-bottom: 20px;
    }
}
