body {
    width:100%;
}

.background-section {
    background-image: url('../images/contact-us/writing-336370_1920-min3.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    position: relative;
    min-height: 500px;
}

.background-banner-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-wrap: nowrap;
    color: white;
    font-family: Brush Script MT;
    font-size: 150px;
    text-align: center;
    text-shadow: 2px 2px black;
}

.contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Contact Info section*/
.contact-info-container {
    width: 100%;
    padding: 0 10%;
}

.contact-info-container.contact-info {
    width: 100%;
}

.contact-info-container .box {
    text-align: center;
}

.contact-info-container .box p {
    margin-top: 50px;
    font-size: 24px;
    word-wrap: break-word;
}
/*Contact info end*/

/*Contact Form*/
.contact-form-container{
    width:100%;
}

.contact-form-container .contact-form{
    
    padding:0 10%;
    margin-top:10px;
}

.contact-form-container h1 {
    font-family: GillSansMT-Italic,GillSansMT,GillSansMT-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-weight:bold;
    font-size: 54px;
    margin-bottom: 10px;
}

.contact-form-container h3 {
    font-family: GillSansMT-Italic,GillSansMT,GillSansMT-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-size:48px;
    margin-bottom: 20px;
}

.contact-form-container h1, .contact-form-container h3 {
    padding: 0 10%;
}

.contact-form-container input{
    height:50px;
}


.contact-form-container #txtName, #txtContactNum, #txtEmail, #txtSubject, #txtMessage {
    background-color: #7CAEA7;
    color: white;
}

.contact-form-container #txtName::placeholder{
    color:white;
}

.contact-form-container #txtContactNum::placeholder {
        color: white;

}

.contact-form-container #txtEmail::placeholder {
    color: white;
}

.contact-form-container #txtSubject::placeholder {
    color: white;
}

.contact-form-container #txtMessage::placeholder {
    color: white;
}

.contact-form-container button {
    height: 80px;
    width: 200px;
    text-align: center;
    background-color: #0B8C7B;
    font-size:24px;
}
/*Contact Form End*/

/*Google map*/
.map .googlemap {
    width: 100%;
    padding: 5% 10%;
}

@media screen and (max-width:600px) {
    .map .googlemap {
        height: 500px;
    }
}
/*Google map end*/
