body {
    width:100%;
}

.background-section {
    background-image: url('../images/contact-us/writing-336370_1920-min3.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    position: relative;
    min-height: 500px;
}

.background-banner-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-wrap: nowrap;
    color: white;
    font-family: Brush Script MT;
    font-size: 150px;
    text-align: center;
    text-shadow: 2px 2px black;
}

.contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Contact Info section*/
.card {
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 200px;
    background-color: #444;
    margin: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 50px;
    color: #ea8685;
    transition: .3s linear;
}

.card:hover .icon {
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3 {
    top: 20px;
    text-transform: uppercase;
    color: #ea8685;
}

.card-content span {
    bottom: 20px;
    color: black;
    font-weight: 500;
}

.card:hover h3 {
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span {
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}

@media screen and (max-width:900px) {
    .card {
        flex: 100%;
        max-width: 500px;
    }
}

/*Contact info end*/

/*Google map*/
.map .googlemap {
    width: 100%;
    padding: 5% 10%;
}

@media screen and (max-width:600px) {
    .map .googlemap {
        height: 500px;
    }
}

/*Contact Form*/
/*.contact-form-container form{
    max-width:800px;
    padding:0 50%;
}
.form-row {
    margin: 30px 30px;*/
    /*padding: 0 50%;*/
/*}

input[type="text"]{
    background-color: #7CAEA7;
}


.contact-form-container {
    width:800px;
    max-width:800px;
}

    .contact-form-container h1 {
        margin: 5px 0;
    }*/

.contact-form-container{
    width:100%;
}

.contact-form-container .contact-form{
    
    padding:0 10%;
    margin-top:10px;
}

    .contact-form-container h1 {
        font-family: GillSansMT-Italic,GillSansMT,GillSansMT-Bold,AdobeInvisFont,MyriadPro-Regular;
        font-weight:bold;
        font-size: 54px;
        margin-bottom: 10px;
    }

    .contact-form-container h3 {
        font-family: GillSansMT-Italic,GillSansMT,GillSansMT-Bold,AdobeInvisFont,MyriadPro-Regular;
        font-size:48px;
        margin-bottom: 20px;
    }

    .contact-form-container h1, h3{
        padding:0 10%;
    }

    .contact-form-container input{
        height:50px;
    }


.contact-form-container #name,#contact-number,#email,#subject,#message {
        background-color: #7CAEA7;
        color: white;
}
.contact-form-container #name::placeholder{
    color:white;
}

    .contact-form-container #contact-number::placeholder {
        color: white;
    }

    .contact-form-container #email::placeholder {
        color: white;
    }

    .contact-form-container #subject::placeholder {
        color: white;
    }

    .contact-form-container #message::placeholder {
        color: white;
    }

/*    input[type="text"]:invalid, textarea:invalid {
        background-color: #7CAEA7;
    }*/

/*textarea {
    background-color: #7CAEA7;
}*/

.contact-form-container button {
    height: 80px;
    width: 200px;
    text-align: center;
    background-color: #0B8C7B;
    font-size:24px;
}


