.profile-container {
    padding: 40px 5%;
    background-color: #e6e6e6;
}

.profile-form {
    background-color: #fff;
    padding: 20px;
}

#edit-profile-pic{
    width:150px;
    margin-bottom:20px;
}

@media (min-width:850px) {
    .profile-container {
        padding: 40px 10%;
    }
}