.help-area {
    width:100%;
    padding:10% 10%;
}

.question-container{
    padding: 20px 10%;
}

.question-list{
    margin:20px 0;
    padding: 20px 0;
}

.question-bar {
    margin-top: 15px;
    padding: 0 2.5%;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.question-slide-togger {
    font-size: 25px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

.question-answer{
    padding: 10px 0;
}

@media (min-width:850px) {
    .help-area {
        width: 100%;
        padding: 10% 15%;
    }
}