.JobListContentsBackGroundImage{
    position: relative;
}

.JobListContentsImage {
    height: 80vh;
    width: 100%;
    position: relative;
}

.JobListContentsBackGroundContent{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.JobListContentsBackGroundContentHeader {
    text-align: center;
    font-family: SegoeScript-Bold,AdobeInvisFont,MyriadPro-Regular;
    color: white;
}

.JobListContentsBackgroundInputs {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: .5%;
    padding-top: .5%;
    width: 100%;
    position: relative;
}

.JobListContentsSearchImage, .JobListContentsLocationImage, .JobListContentsJobCategoryImage, .JobListContentsJobSpecImage, .JobListContentsSalaryImage {
    width: 20px;
}

.JobListContentsJobTypeDropdown, .JobListContentsJobSpecDropdown, .JobListContentsLocationDropdown {
    width: calc(100% - 46px);
}

.JobListContentsSalaryRange {
    display: flex;
    width: calc(100% - 46px);
    background-color:white;
    border-radius: 5px;
    padding: 0.5%;
    margin-left: 0%!important;
}

.JobListContentsSalaryRange p {
    margin-left: 2.5%;
    margin-top: 2%;
}

.JobListContentsSalaryRangeHeader {
    margin-top: .5%;
    margin-right: 1%;
    margin-left: 1%;
}

#textInputMin, #textInputMax {
    border: none;
    text-align:center;
    background-color: transparent;
    width: 30%;
}

#txt_amountRight, #txt_amountLeft, .amount {
    color: #69A19A;
    font-weight: bold;
    border-style: none;
    width: 10%;
}

.amount label {
    color: black;
}

.JobListContentsBackgroundInputsSearchButton {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
}

.JobListContentsAllCompanies {
    margin-top: 2.5%;
    background-color: white;
    margin-bottom: 2.5%;
}

.container {
    background-color: #F0F0F0;
}

.JobListContentsAllCompaniesContainer {
    padding: 20px 25px;
}

.JobListContentsAllCompaniesHeaderPosition {
    background-color: #69A19A;
    border-radius: 10px;
    width: 100%;
}

.JobListContentsAllCompaniesHeader {
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: Arial-BoldItalicMT,AdobeInvisFont,MyriadPro-Regular;
    font-style:italic;
    font-weight: bold;
}

.JobListContentsAllCompaniesBoxes {
    border: solid 3px #82A69B;
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
}

.JobListContentsAllCompaniesBoxesCompanyLogoPosition {
    width: 100%;
    margin-top: 10%;
    padding: 5%;
}

.JobListContentsAllCompaniesBoxesDetails{
    position: relative;
}

.JobListContentsAllCompaniesBoxesDetailsTitle {
    text-align: center;
    margin-top: 5%;
}

.JobListContentsAllCompaniesBoxesDetailsBodyContents {
    display: flex;
}

.JobListContentsAllCompaniesBoxesImages {
    height: 50px;
    padding: 2.5%;
}

.JobListContentsAllCompaniesBoxesDetailsBodyContentsDescription{
    margin-top: 5%;
    margin-left: 10%;
}

.JobListContentsAllCompaniesBoxesDetailsStars{
    width: 100%;
}

.JobListContentsAllCompaniesBoxesDetailsApplyDetailsButton {
    display:flex;
    margin-bottom: 5%;
}

.JobListContentsAllCompaniesBoxesDetailsApplyButtonApplyNow {
    width: 100%;
    margin-right: 6.5%;
    margin-left: -4.5%
}

.PageSizeLimit {
    margin-left: 82.5%;
}

.middle {
    position: relative;
    width: 95%;
    max-width: 500px;
    margin-left: -15%;
    margin-right: 15%;
}

.slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin-top: 30px;
}

.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 5px;
    background-color: #82A69B;
}

.slider > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    bottom: 0;
    top: 0;
    border-radius: 5px;
    background-color: #0B8C7B;
}

.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #0B8C7B;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(98, 0, 238, .1);
    transition: box-shadow .3s ease-in-out;
}

.slider > .thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
}

.slider > .thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
}

.slider > .thumb.hover {
    box-shadow: 0 0 0 5px rgba(11,140,123, 0.3);
}

.slider > .thumb.active {
    box-shadow: 0 0 0 10px rgba(11,140,123, 0.5);
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance:none;
}

@media screen {
    .select2 {
        width: 100% !important;
    }
}

@media (max-width: 768px) {

    .PageSizeLimitPosition {
        width: 70%;
    }
}

@media (max-width: 576px) {

    .PageSizeLimitPosition {
        width: 80%;
    }
}