.JobDescriptionDetails {
    position: relative;
    margin-left: 10%;
    padding: 2.5%;
}

.JobDescriptionDetailsImage {
    height: 150px;
    width: 150px;
    margin-top: 25%;
    margin-left: 45%;
    transform: translate(-50%, -50%);
}

.JobDescriptionDetailsBodyContents {
    display: grid;
    grid-template-columns: 50% 50%;
}

.JobDescriptionDetailsBodyContentsDetails{
    display: flex;
    margin-top: 5%;
}

.JobDescriptionDetailsBodyContentsImage {
    height: 50px;
    width: 50px;
    margin-left: -15%;
}

.JobDescriptionDetailsBodyContentsDetailsDescription{
    margin-left: 5%;
    margin-top: 5%;
}

.JobDescriptionDetailsApplyNowButton {
    position: absolute;
    top: 50%;
}

.tab-content {
    background-color: #F0F0F0;
    padding: 2.5%;
    margin-bottom: 2.5%;
}

#myTab {
    margin-left: 15%;
}

#myTabContent {
    padding-left: 15%;
    padding-right: 10%;
}

.JobDescriptionContentsBodyContents1 ul {
    margin-left: 5%;
}

.JobDescriptionContentsBodyContents2 ul {
    margin-left: 5%;
}

.JobDescriptionContentsBodyContents3Details {
    display: grid;
    grid-template-columns: 50% 50%;
}

.companyOverviewInformationDetails {
    padding: 2.5%;
}

.companyOverviewInformationDetailsSubDetails{
    display: grid;
    grid-template-columns: 50% 50%;
}

.JobDescriptionContentsBodySubHeadersTagsButton {
    margin-bottom: 1.25%;
    margin-top: 1.25%;
}