.JobListContentsBackGroundImage{
    position: relative;
}

.JobListContentsImage {
    height: 80vh;
    width: 100vw;
    position: relative;
}

.JobListContentsBackgroundInputs{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
    position: absolute;
}

.JobListContentsSearchImage {
    height: 20px;
}
