.rate {
    float: right;
    height: 46px;
    padding: 0 10px;
}

.star-rate {
    display: none;
}

.rate:not(:checked) > input {
    position: absolute;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.JobDescriptionDetails {
    position: relative;
    margin-left: 10%;
    padding: 2.5%;
}

.JobDescriptionDetailsImage {
    height: 150px;
    width: 150px;
    margin-top: 25%;
    margin-left: 45%;
    transform: translate(-50%, -50%);
}

.JobDescriptionDetailsBodyContents {
    display: grid;
    grid-template-columns: 50% 50%;
}

.JobDescriptionDetailsBodyContentsDetails{
    display: flex;
    margin-top: 5%;
}

.JobDescriptionDetailsBodyContentsImage {
    height: 50px;
    width: 50px;
    margin-left: -15%;
}

.JobDescriptionDetailsBodyContentsDetailsDescription{
    margin-left: 5%;
    margin-top: 5%;
}

.JobDescriptionDetailsApplyNowButton {
    position: absolute;
    top: 50%;
}

.tab-content {
    background-color: #F0F0F0;
    padding: 2.5%;
    margin-bottom: 2.5%;
}

#myTab {
    margin-left: 15%;
}

#myTabContent {
    padding-left: 15%;
    padding-right: 10%;
}

.JobDescriptionContentsReviews {
    padding-left: 15%;
    padding-right: 10%;
    margin-bottom: 5%;
}

.JobDescriptionContentsBodyContents1 ul {
    margin-left: 5%;
}

.JobDescriptionContentsBodyContents2 ul {
    margin-left: 5%;
}

.JobDescriptionContentsBodyContents3Details {
    display: grid;
    grid-template-columns: 50% 50%;
}

.companyOverviewInformationDetails {
    padding: 2.5%;
}

.companyOverviewInformationDetailsSubDetails{
    display: grid;
    grid-template-columns: 50% 50%;
}

.JobDescriptionContentsBodySubHeadersTagsButton {
    margin-bottom: 1.25%;
    margin-top: 1.25%;
}

.JobDescriptionContentsReviewsPostButton{
    margin-left: 50%;
    transform:translateX(-50%);
}

.user-review-container{
    width:100%;
}

.user-review-img{
    width:55px;
    padding:5px;
}

.user-review-list, .user-review-title {
    padding: 10px 20px;
}

.user-review-list{
    border-bottom:1px solid black;
}

.page-active {
    background-color: #007bff !important;
    color: white !important;
}

.aspNetDisabled {
    background-color: #b2b2b2 !important;
    color: #fff !important;
}

.user-rating-board {
    padding: 20px;
}

.four-star-bg {
    background-color: #b1cbbb !important;
}

.two-star-bg {
    background-color: #eca1a6 !important;
}