.login_signUpBackgroundImagePics {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.Login_signUpForms{
    padding: 2.5%;
}

.tab-content {
    background-color: #E3DFDF;
    padding: 2.5%;
}

.inputsFormSign_Login {
    padding: 10%;
    position: relative;
}

.inputsFormSign_SignUp {
    padding: 5%;
    position: relative;
}

.sign_loginLogoImage {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 5%;
}

#inputsFormSign_LoginFooter {
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -10%;
    width: 100%;
}

#userRole {
    background-color: #80b9bb;
    color: white;
}

    #userRole::placeholder {
        color: white;
    }

#sign_login_emailUser {
    background-color: #80b9bb;
    color: white;
}

#sign_login_emailUser::placeholder {
    color: white;
}

#sign_login_password {
    background-color: #80b9bb;
    color: white;
}

#sign_login_password::placeholder {
    color: white;
}

.inputsFormSign_LoginFormCheckbox {
    display: grid;
    grid-template-columns: 50% 50%;
}

.inputsFormSign_LoginFormCheckboxList {
    margin-left: 25%;
}

#inputsFormSign_LoginFormCheckboxRememberMe {
    color: #8C8686;
}

.inputsFormSign_LoginFormCheckForgotPassword {
    color: #8C8686;
}

.inputsFormSign_SignUpFree, .inputsFormSign_LoginFree {
    text-align: center;
    color: #8C8686;
    padding: 2.5%;
}

.SignUpFree, .LoginFree {
    color: #8C8686;
}

.nav-pillsTabs {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    grid-gap: 5%;
    width: 100%;
}

#recruiterTab {
    width: 100%;
    text-align: center;
}

#seekerTab {
    width: 100%;
    text-align: center;
}

.dividerSignUp {
    padding: 5%;
    margin-top: 5%;
}

.dividerSignUplines {
    width: 100%;
    height: 45px;
    position: relative;
    margin-top: 5%;
}

.dividerSignUplines::after, .dividerSignUplines::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 1px;
    background: #8C8686;
    top: 30%;
    width: 25%;
}

.dividerSignUplines::after {
    left: 20%;
}

.dividerSignUplines::before {
    right: 20%;
}

.dividerSignUplinesContent {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: -5%;
    color: #8C8686;
    text-align: center;
}

.active_selected {
    background-color: #194a4c !important;
}

.form-group-row {
    margin-bottom: 2%;
}

#sign_recruiter_companyName, #sign_recruiter_contactFirstName, #sign_recruiter_contactLastName, #sign_recruiter_username,
#sign_recruiter_companyEmail, #sign_recruiter_password, #sign_recruiter_confirmPassword {
    background-color: #80b9bb;
    color: white;
}

#sign_recruiter_companyName::placeholder, #sign_recruiter_contactFirstName::placeholder, #sign_recruiter_contactLastName::placeholder,
#sign_recruiter_username::placeholder, #sign_recruiter_companyEmail::placeholder,
#sign_recruiter_password::placeholder, #sign_recruiter_confirmPassword::placeholder {
    color: white;
}

#Recruiter_SignUpButton {
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -10%;
    width: 100%;
}

#JobSeeker_SignUpButton {
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -10%;
    width: 100%;
}

#inputsFormSign_LoginButton {
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -10%;
    width: 100%;
}

#sign_seeker_FullName, #sign_seeker_username,
#sign_seeker_Email, #sign_seeker_password, #sign_seeker_confirmPassword {
    background-color: #80b9bb;
    color: white;
}

#sign_seeker_FullName::placeholder, #sign_seeker_username::placeholder, #sign_seeker_Email::placeholder,
#sign_seeker_password::placeholder, #sign_seeker_confirmPassword::placeholder {
    color: white;
}

.LogineyeImagePasswordLogin {
    position: absolute;
    height: 25px;
    right: 20px;
    bottom: 7px;
    cursor: pointer;
}

.see-password-container{
    position:relative;
}

.eyeImagePasswordSignUp {
    position: absolute;
    height: 25px;
    right: 20px;
    bottom: 7px;
    cursor: pointer;
}

.dividerLoginGoogle{
    width: 100%;
}

#ContentPlaceHolder1_btnSignIn, #ContentPlaceHolder1_googleRecruiter, #ContentPlaceHolder1_googleSeeker {
    width: 100% !important;
}

.googleSignIn {
    width: 100% !important;
}

.fb-login-btn {
    background-color: #3b5998!important;
    width:100%!important;
    padding:15px;
}

.dividerLogin {
    padding: 10%;
    margin-top: -7.5%;
}


@media(max-width: 576px) {
    .login_signUpBackgroundImagePics {
        display: none;
    }


}