privacy-policy-body {
    width:100%;
}

.banner-container {
    width: 100%;
    background-image: url('../images/privacy-policy/writing-336370_1920-min3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    position: relative;
    min-height: 500px;
}

    .banner-container h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        flex-wrap: nowrap;
        color: white;
        font-family: Brush Script MT;
        font-size: 150px;
        text-align: center;
        text-shadow: 2px 2px black;
    }

privacy-content{
    
}

.privacy-content h1 {
    text-align: center;
    margin: 2% 0;
    font-size: 80px;
    font-family: GillSansMT,GillSansMT-Bold,AdobeInvisFont,MyriadPro-Regular;
    color: #2C2A2A;
}
.privacy-content p.privacy-intro {
    text-align: center;
    margin:0 10% 5%;
    font-size: 20px;
    font-family: GillSansMT,GillSansMT-Bold,AdobeInvisFont,MyriadPro-Regular;
    color: #2C2A2A;
}
.privacy-content h2 {
    text-align: left;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 5%;
    font-size: 25px;
    font-family: GillSansMT,GillSansMT-Bold,AdobeInvisFont,MyriadPro-Regular;
}

.privacy-content p.privacy-text {
    text-align: justify;
    margin: 1% 30px 5%;
    font-size: 20px;
    font-family: GillSansMT,GillSansMT-Bold,AdobeInvisFont,MyriadPro-Regular;
    color: #4A4747;
}

@media (min-width:850px) {
    #banner-container {
        min-height: 300px;
    }

    .privacy-content h2, p.privacy-text {
        padding: 0% 7.5%;
    }
}

