.Edit_Career{
    background-color: white;
    padding: 2.5%;
}

.Edit_CareerHeaderPosition {
    border: 3px solid #0B8C7B;
}

.Edit_CareerBackgroundContents {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 2.5%;
    position: relative;
}

.Edit_CareerBackgroundHeaderPosition {
    margin-right: 10%;
    margin-top: 2.5%;
}

.Edit_CareerBackgroundContentsImage_Buttons{
    display: grid;
    grid-template-columns: 50% 50%;
}

.Edit_CareerBackgroundContentsImage {
    height: 280px;
    width: 280px;
    padding: 5%;
}

.Edit_CareerBackgroundContentsBody{
    display: block;
    margin-top: 20%;
}

.Edit_CareerBackgroundContentsBodyFileInput {
    margin-bottom: 5%;
    margin-left: 25%;
    transform: translateX(-25%);
}

.Edit_CareerBackgroundContentsBodyButtonPosition{
    width: 100%;
}

.Edit_CareerBackgroundContentsBodyButton {
    background-color: #0B8C7B;
    border-radius: 10px;
    border: 2px solid #0B8C7B;
    padding: 2.5%;
    color: white;
    margin-left: 25%;
    transform: translateX(-25%);
}

.Edit_CareerBody{
    padding: 2.5%;
}

.Edit_CareerBodyEdits{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 10%;
}

.Edit_CareerBodyPic{
    margin-top: 2.5%;
}

.Edit_CareerBodyImage {
    width: 200px;
    height: 200px;
    padding: 5%;
}

.Edit_CareerBodyPicFile {
    margin-bottom: 5%;
}

.Edit_CareerBodyPicUploadPosition {
    width: 25%;
    position:relative;
}

.Edit_CareerBodyPicUpload {
    background-color: #0B8C7B;
    border-radius: 10px;
    border: 2px solid #0B8C7B;
    padding: 5%;
    color: white;
    margin-left: 150%;
    transform: translateX(-50%);
}

.Edit_CareerBodyContentsDesc, .Edit_CareerBodyContentsName, .Edit_CareerBodyContentsPosition {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 5%;
}

#toolbar-container, #editor, #toolbar-container1, #editor1 {
    border: 2px solid #0B8C7B;
    background-color: white;
}

.Edit_CareerBodyContentsNameDetailsInput, .Edit_CareerBodyContentsPositionDetailsInput {
    border: 2px solid #0B8C7B;
    background-color: white;
    width: 100%;
}

.Edit_CareerSubmitButton {
    width: 100%;
}

.Edit_CareerSubmit {
    border: 2px solid #0B8C7B;
    color: white;
    background-color: #0B8C7B;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 1% 5%;
    border-radius: 10px;
}