.Edit_Career{
    background-color: white;
    padding: 2.5%;
    width: 100%;
}

.Edit_CareerHeaderPosition {
    border: 3px solid #0B8C7B;
}

.Edit_CareerHeader{
    padding: 1%;
}

.Edit_CareerFormContents{
    width: 100%;
}

.col-form-label {
    font-weight: bold;
    width: 100%;
    margin-top: 5%;
}

.Edit_CareerBackgroundContentsImage {
    width: 100%;
    padding: 5%;
}

.Edit_CareerBackgroundContentsBodyFileInput {
    border: 3px solid #0B8C7B;
    width: 100%;
}

.Edit_CareerBody{
    padding: 2.5%;
}

.Edit_CareerBodyEdits{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 10%;
    padding: 2.5%;
}

.Edit_CareerBodyPic{
    margin-top: 2.5%;
}

.Edit_CareerBodyImage {
    width: 200px;
}

.Edit_CareerBodyLabels{
    margin-right: 5%;
    margin-left: 11%;
}

.Edit_CareerBodyContentsDescDetails {
    border: 3px solid #0B8C7B;
    width: 100%;
    border-radius: 5px;
}

.Edit_CareerBodyContentsNameDetailsInput, .Edit_CareerBodyContentsPositionDetailsInput {
    border: 2px solid #0B8C7B;
    background-color: white;
    width: 100%;
}

.Edit_CareerSubmitButton {
    width: 100%;
}

.Edit_CareerSubmit {
    border: 2px solid #0B8C7B;
    color: white;
    background-color: #0B8C7B;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 1% 5%;
    border-radius: 10px;
}

.Edit_CareerSubmit:hover{
    opacity: 80%;
}