.chart-display{
    padding:20px;
    background-color:white;
    width:100%;
    height:400px;
}

/*To-do-list*/
.to-do-list{
    width:100%;
}

.do-list-header {
    background-color: #00B67A;
    padding:15px;
}

#add-to-do-list{
    cursor:pointer;
}

.do-list-content{
    padding:15px;
    background-color:white;
}

.to-do-task {
    border: 1px solid black;
    border-left: 3px solid #00BBDD;
    padding:5px 15px;

}

/*Calendar*/
.wrapper {
    max-width: 1100px;
    width:100%;
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td, .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
    color: red;
}

/* friday */
.date-picker:nth-child(6) {
    color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

/*Top 5 companies*/
.top-company-card{
    width:100%;
}

.top-company-header {
    background-color: #CB2121;
    padding:15px;
}

.top-company-content{
    padding:15px;
    background-color:white;
}

.top-company-pic{
    width:64px;
}