*{
    margin:0;
    padding:0;
}

.app-content {
    overflow-y: hidden;
}

/*background colours*/
.bg-lightgreen {
    background-color: #0B8C7B !important;
}

/*Font colours*/
.text-lightgreen {
    color: #0B8C7B !important;
}

.action-btn{
    font-size:15px!important;
    padding:5px!important;
    cursor:pointer;
}