.LiveChat{
    background-color: white;
    padding: 2.5%;
    position: relative;
}

.LiveChat_MessagesData {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid #E4E4E4;
    padding: 1%;
}

.LiveChat_MessagesInput {
    margin-top: 2.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid #E4E4E4;
    position: relative;
}

.LiveChat_MessagesInputImage {
    width: 25px;
}


.usernameLiveChat {
    text-decoration: none;
    color: #212529;
}

.usernameLiveChat:hover {
    text-decoration: none;
    font-weight: 500;
    color: #212529;
}

.chat-row {
    width: 100%;
    overflow: hidden;
    padding: 15px;
    margin-left: 0 !important;
    border-bottom: 1px solid #cccccc;
}

.chat-row:hover {
    background-color: #cccccc;
    cursor:pointer;
}

.user-message-dashboard{
    overflow:hidden;
}

.chatbox-img{
    font-size:50px;
}

.chat-img-container{
    padding:15px;
}